<!DOCTYPE html>
<html lang="en">
    <head id="head">
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <h1 id="main-heading">Guess The Number Game</h1>
        <h3 id="main-message">Main message content</h3>
        <h3 id="result-message">Result message content</h3>
        <form id="form-action" action="play" method="post">
            <label id="guess-label" for="guess">Enter your Guess</label>
            <input id="guess" type="number" name="guess"/>
            <input id="submit" type="submit" value="Submit"/>
        </form>
    </body>
</html>